{% extends "base.html" %}
{% block body %}
<div class="container-fluid">
<div class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">Here are some Activities for your travels</h1>
      <p class="lead my-3">
        No matter which places you go to in 2025, there’ll always be plenty to see and do whether you are into city breaks or hiking adventures.
      </p>
      <p class="lead mb-0">
      </p>
    </div>
  </div>

  

<div class="container">
  <div class="row ">
    {% for a in act  %}
    <div class="col-md-6">
      <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
      >
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{a.name}}</h3>
          
          <p class="mb-auto">
           {{a.desc}}
          </p>
          
        </div>
        <div class="col-auto d-none d-lg-block">
        
          <img src="{{a.img.url}}" style="width:200px; height:200px; object-fit:cover;">
            
           
        </div>
      </div>
    </div>
  
  {% endfor %}
</div>
</div>

</div>
{% endblock body %}
