{% extends 'base.html' %} {% load static %} {% block title %}Home -
Travello{%endblock %} {% block body %}

<div class="container-fluid my-0 px-0">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="6000">
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
            <div class="carousel-item active">
              
                  <img
                    src="{% static 'bal.jpg' %}"
                    class="d-block w-100"
                    width="900"
                    height="500"
                    alt="..."
                    style="filter:brightness(60%);"
                  />
              <div class="carousel-caption d-none d-md-block">
                <h5>“Explore the world, one adventure at a time.”</h5>
                <p>Pack your bags. Leave your worries behind.</p>
              </div>
            </div>
    
      <div class="carousel-item">
            <img
              src="{% static 'img2.jpg' %}"
              class="d-block w-100"
              width="900"
              height="500"
              alt="..."
              style="filter:brightness(60%)"
            />
            <div class="carousel-caption d-none d-md-block">
              <h5>Travel far, travel smart, travel with us.</h5>
              <p>Wander often. Wonder always</p>
            </div>
      </div>

      <div class="carousel-item">
         <img
          src="{% static 'mal.jpg' %}"
          class="d-block w-100"
          width="900"
          height="500"
          alt="..."
          style="filter:brightness(60%);"
        >
        <div class="carousel-caption d-none d-md-block">
          <h5>Creating memories, one trip at a time</h5>
          <p>Discover destinations. Discover yourself.</p>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleCaptions"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
</div>
<h1 class="c1">let us take you away</h1>

<div class="album py-5 bg-body-tertiary">
  <div class="container-fluid" style="background: #dae1ebff;padding:20px;">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" style="padding:4px;">
      
 {% for d in dest %}
      <div class="col">
        <div class="card shadow-sm">
          <img src= "{{d.img.url}}" alt=""></img>
          
          <div class="card-body">
            <h5><a href={% url 'location' slug=d.slug %}>{{d.name}}</a>
            </h5>
            <p class="card-text">
              {{d.desc}}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div>
                <span class="badge text-bg-info" style="font-size: 16px; padding: 4px 15px;">${{d.price}}</span>
                
              </div>
              <small class="text-body-secondary">posted-{{d.time|timesince}}ago</small>
            </div>
          </div>
        </div>
      </div>
      
  {% endfor %}
      
    </div>
  </div>
</div>

{% endblock %}
